.card__like {
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
}